pyrofork==2.3.68
tgcrypto
aiogram
google-genai
aiohttp
telethon
cryptg
pytz
telegraph
pycountry
beautifulsoup4
Pillow
yt-dlp
python-dateutil
motor
aiofiles
python-dotenv
psutil
pydub
moviepy
speedtest-cli
py-yt-search
lxml
smartfaker
smartbindb
qrcode
reportlab
pypdf